!!!
%html
  %head
    %title Testing haml and sinatra
    %link{:rel => :stylesheet, :type => :"text/css", :href => url_for("/bootstrap.min.css")}
  %body
    .container
      .form-group
        =yield
